#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.question {
  font-size: 1.5rem;
  font-weight: bold;
}

.heart-icon {
  margin-left: 0.5rem;
  font-size: 3rem;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  height: 3rem;
  width: 7rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

.no-button {
  text-transform: none;
  font-weight: normal;
  font-size: 0.8rem;
  height: 2rem;
  width: 6rem;
}

.yay-text {
  font-size: 1.5rem;
  font-weight: bold;
}

img {
  height: 400px;
}

.regret-button {
  position: relative;
  transition: all 0.1s ease-in-out;
}
